@import url("https://fonts.googleapis.com/css2?family=Courier+New&display=swap");

.mainPage {
    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/tgam/JLVMXMKE6FFL5B2MGGJXBH4N4U");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.appTitle {
    color: white;
    font-size: 50px;
    font-family: "New Courier", monospace;
    text-align: center;
    text-shadow: 0 0 10px black;
    margin-top: 20px;
}

.appTitle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 0 20px 10px black;
}